.calculator {
  background-color: #3A4655;
  width: 600px;
  height: 625px;
  margin: auto;
}

td {
  font-size: 30px;
}

.btn {
  background-color: #425062 !important;
  font-size: 30px !important;
  height: 100px;
  width: 120px;
  color: white;
}

.btn:hover {
  background-color: orange !important;
}

form {
  text-align: center;
  margin-top: 20px;
  font-size: 45px;
  color: #fff;
}

table {
  margin: auto;
  vertical-align: middle;
}

.format-double {
  width: 240px;
  color: #D95D4E !important;
}

.format-double:hover {
  background-color: white !important;
}

.display-style {
  width: 487px;
}