.calculator {
  background-color: #3A4655;
  width: 600px;
  height: 675px;
  margin: auto;
}

td {
  font-size: 30px;
}

.btn {
  background-color: #425062 !important;
  font-size: 30px !important;
  height: 100px;
  width: 120px;
  color: white;
}

.btn:hover {
  background-color: orange !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

input:focus {
  outline: none;
} 

form {
  text-align: center;
  margin-top: 20px !important;
  font-size: 45px;
}

input {
  width: 470px !important;
  margin: 15px !important;
  text-align: right;
  background-color: #3A4655;
  border: none;
  border-right:4px solid orange;
  color: orange;
  padding-right: 5px;
  -webkit-animation: 1s blink step-end infinite;
}

table {
  margin: auto;
  vertical-align: middle;
}

.clear {
  color: #D95D4E !important;
}

.clear:hover {
  background-color: white !important;
}

.display-style {
  width: 487px;
}

.previous-calc {
  height: 25px;
  text-align: right;
  color: orange;
  padding-top: 10px;
  padding-right: 70px;
}

@media only screen and (max-width: 600px) {

   .calculator {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
    }
}

@-webkit-keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
